{{!
    Template digunakan untuk menampilkan dropdown activitas pada
    course.
}}
<div data-region="activity-information" data-activityname="{{activityname}}" class="activity-information">
    {{#uservisible}}
        <div data-region="completion-info">
            {{! Completion dropdown dialog }}
            {{#completiondialog}}
                <div data-region="completionrequirements" aria-label="{{#str}}completionrequirements, core_course, {{activityname}}{{/str}}">
                    {{< core/local/dropdown/dialog }}
                        {{$ buttonclasses }}btn btn-sm btn-outline dropdown-toggle icon-no-margin{{/ buttonclasses }}
                    {{/ core/local/dropdown/dialog }}
                </div>
            {{/completiondialog}}

            {{! Manual completion button }}
            {{#showmanualcompletion}}
                {{#istrackeduser}}
                    {{$ core_course/completion_manual }}
                        {{> core_course/completion_manual }}
                    {{/ core_course/completion_manual }}
                {{/istrackeduser}}
            {{/showmanualcompletion}}
        </div>
    {{/uservisible}}
</div>
