{{!
    Template digunakan untuk menampilkan item dari course
}}
{{#moveicon}} {{{moveicon}}} {{/moveicon}}
<div class="activity-grid {{^hasname}}noname-grid{{/hasname}}">

    {{! Icon, Name & Badge }}
    {{#hasname}}
        {{#cmname}}
            {{$ core_courseformat/local/content/cm/cmname }}
                {{> core_courseformat/local/content/cm/cmname }}
            {{/ core_courseformat/local/content/cm/cmname }}
        {{/cmname}}
    {{/hasname}}

    {{! Dates }}
    {{#dates}}
        {{#hasdates}}
            <div data-region="activity-dates" class="activity-dates mr-sm-2">
                {{#activitydates}}
                    {{$core_course/activity_date}}
                        {{>core_course/activity_date}}
                    {{/core_course/activity_date}}
                {{/activitydates}}
            </div>
        {{/hasdates}}
    {{/dates}}

    {{! Visibility }}
    {{$ core_courseformat/local/content/cm/badges }}
        {{> core_courseformat/local/content/cm/badges }}
    {{/ core_courseformat/local/content/cm/badges }}

    {{! Group mode }}
    {{#groupmodeinfo}}
        <div
            class="activity-groupmode-info align-self-start ml-sm-2"
            data-region="groupmode"
        >
            {{$ core_courseformat/local/content/cm/groupmode}}
                {{> core_courseformat/local/content/cm/groupmode}}
            {{/ core_courseformat/local/content/cm/groupmode}}
        </div>
    {{/groupmodeinfo}}

    {{! Completion }}
    {{#completion}}
        {{#hascompletion}}
            <div class="activity-completion align-self-start ml-sm-2">
                {{$ core_courseformat/local/content/cm/activity_info}}
                    {{> core_courseformat/local/content/cm/activity_info}}
                {{/ core_courseformat/local/content/cm/activity_info}}
            </div>
        {{/hascompletion}}
    {{/completion}}

    {{! Action menu }}
    {{#controlmenu}}
        <div class="activity-actions bulk-hidden align-self-start ml-sm-2">
            {{$ core_courseformat/local/content/cm/controlmenu }}
                {{> core_courseformat/local/content/cm/controlmenu }}
            {{/ core_courseformat/local/content/cm/controlmenu }}
        </div>
    {{/controlmenu}}

    {{! Description }}
    {{#altcontent}}
        <div class="activity-altcontent d-flex px-3 text-break {{#hasname}}activity-description{{/hasname}}">
            {{{altcontent}}}
        </div>
    {{/altcontent}}

    {{! Availability }}
    {{#modavailability}}
        {{$ core_courseformat/local/content/cm/availability }}
            {{> core_courseformat/local/content/cm/availability }}
        {{/ core_courseformat/local/content/cm/availability }}
    {{/modavailability}}

    {{! Afterlink }}
    {{#afterlink}}
        <div class="activity-afterlink afterlink d-flex align-items-center">
            {{{afterlink}}}
        </div>
    {{/afterlink}}
</div>
