{{!
    Template digunakan untuk mengatur tampilan image pada card course di bagian summary
}}
<img src="{{{ imageSrc }}}" alt="Course Image" class="card-img-top object-fit-cover img-fluid h-200px w-100">
