
<div data-region="view-selector" class="dropdown">
    <button type="button" class="btn btn-outline dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            aria-label="{{#str}} ariaviewselector, block_timeline{{/str}}" aria-controls="menusortby"
            title="{{#str}} ariaviewselector, block_timeline{{/str}}" aria-describedby="timeline-view-selector-current-selection">
        <span id="timeline-view-selector-current-selection" data-active-item-text>
            {{#sorttimelinecourses}}{{#str}} sortbycourses, block_timeline{{/str}}{{/sorttimelinecourses}}
            {{#sorttimelinedates}}{{#str}} sortbydates, block_timeline {{/str}}{{/sorttimelinedates}}
        </span>
    </button>
    <div id="menusortby" role="menu" class="dropdown-menu" data-show-active-item data-skip-active-class="true">
        <a
            class="dropdown-item"
            href="#view_dates_{{uniqid}}-{{timelineinstanceid}}"
            data-toggle="tab"
            data-filtername="sortbydates"
            {{#sorttimelinedates}}aria-current="true"{{/sorttimelinedates}}
            aria-label="{{#str}} ariaviewselectoroption, block_timeline, {{#str}} sortbydates, block_timeline {{/str}}{{/str}}"
            role="menuitem"
        >
            {{#str}} sortbydates, block_timeline {{/str}}
        </a>
        <a
            class="dropdown-item"
            href="#view_courses_{{uniqid}}-{{timelineinstanceid}}"
            data-toggle="tab"
            data-filtername="sortbycourses"
            {{#sorttimelinecourses}}aria-current="true"{{/sorttimelinecourses}}
            aria-label="{{#str}} ariaviewselectoroption, block_timeline, {{#str}} sortbycourses, block_timeline {{/str}}{{/str}}"
            role="menuitem"
        >
            {{#str}} sortbycourses, block_timeline {{/str}}
        </a>
    </div>
</div>

<div class="dropdown">
  <a class="btn btn-outline dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown link
  </a>
</div>
