
{{!
    Template untuk menampilkan tombol "Add Activity or Course" sekaligus
	divider.
}}

<div class="divider bulk-hidden d-flex justify-content-center align-items-center {{$extraclasses}}{{extraclasses}}{{/extraclasses}}">
    <hr class="border-primary">
    <div class="divider-content px-3">
        {{$content}}{{content}}{{/content}}
    </div>
</div>
