
{{!
    Template yang mengatur tampilan card-card di dalam course
}}
<li id="section-{{num}}"
    class="section course-section main {{#onlysummary}} section-summary {{/onlysummary}} clearfix
            {{#ishidden}} hidden {{/ishidden}} {{#iscurrent}}{{^displayonesection}} current {{/displayonesection}}{{/iscurrent}}
            {{#isstealth}} orphaned {{/isstealth}}"
    data-sectionid="{{num}}"
    data-sectionreturnid="{{sectionreturnid}}"
    data-for="section"
    data-id="{{id}}"
    data-number="{{num}}"
>
    <div class="section-item card py-5 mb-5 shadow-sm">
        <div class="d-flex flex-row align-items-center px-1 gap-2"
            data-for="section_title"
            data-id="{{id}}"
            data-number="{{num}}"
        >
            {{$ core_courseformat/local/content/section/content }}
                {{> core_courseformat/local/content/section/content }}
            {{/ core_courseformat/local/content/section/content }}
        </div>
    </div>

    {{#insertafter}}
        {{#numsections}}
            {{$ core_courseformat/local/content/addsection}}
                {{> core_courseformat/local/content/section/addsectiondivider }}
            {{/ core_courseformat/local/content/addsection}}
        {{/numsections}}
    {{/insertafter}}
</li>
