
<section id="{{id}}"
    class="{{#hidden}}hidden{{/hidden}} {{class}} {{#hascontrols}}block_with_controls{{/hascontrols}} mb-3"
    role="{{ariarole}}"
    data-block="{{type}}"
    data-instance-id="{{blockinstanceid}}"
    {{#arialabel}}
        aria-label="{{arialabel}}"
    {{/arialabel}}
    {{^arialabel}}
        {{#title}}
        aria-labelledby="instance-{{blockinstanceid}}-header"
        {{/title}}
    {{/arialabel}}>

    {{! Block contents }}
    <div class="card w-100">
        {{! Block header }}
		<div class="card-header bg-primary bg-opacity-75 d-flex flex-wrap flex-row align-items-center">
			{{#title}}
				<h3 id="instance-{{blockinstanceid}}-header" class="card-title text-white">{{{title}}}</h3>
			{{/title}}
			{{#hascontrols}}
				<div class="d-flex align-items-center">
					{{{controls}}}
				</div>
			{{/hascontrols}}
		</div>
        <div class="card-body p-5">
            {{{content}}}
            {{{annotation}}}
        </div>
		{{# footer }}
		<div class="card-footer p-5">
            <div class="footer">{{{footer}}}</div>
		</div>
		{{/ footer }}
    </div>
</section>
