{{! 
	Template digunakan untuk menampilkan navbar di sebelah atas page.
}}
<div id="kt_header" class="header header-bg">
	<div class="container-fluid">
		<div class="header-brand me-5">
			{{^ disableSidebar }}
			<div class="d-flex align-items-center d-lg-none ms-n2 me-2" title="Show aside menu">
				<div class="btn btn-icon btn-color-white btn-active-color-primary w-30px h-30px" id="kt_aside_toggle">
					<i class="ki-duotone ki-abstract-14 fs-1">
						<span class="path1"></span>
						<span class="path2"></span>
					</i>
				</div>
			</div>
			{{/ disableSidebar }}
			<a class="btn btn-flush" href="{{{ config.homeurl }}}">
				<img alt="Logo" src="{{{ output.asset_path }}}/media/logos/ss-favicon.ico" class="h-40px d-none d-md-block" />
				<img alt="Logo" src="{{{ output.asset_path }}}/media/logos/ss-favicon.ico" class="h-40px d-block d-md-none" />
			</a>
			</div>
		</div>
		<div class="topbar d-flex align-items-stretch">
			{{#showeditbutton}} 
			<div class="d-flex align-items-center me-2 me-lg-4">
				{{{ output.edit_switch }}}
			</div>
			{{/showeditbutton}}
			{{#usermenu}}
				<div class="d-flex align-items-center me-2 me-lg-4">
					{{> core/user_menu }}
				</div>
			{{/usermenu}}
		</div>
	</div>
