
    <div class="d-flex flex-wrap">
        <div id="course-header">
            {{{courseheader}}}
        </div>
    </div>
    <div class="d-flex align-items-center">
        {{^welcomemessage}}
            {{#contextheader}}
                <div class="w-100">
                    {{{contextheader}}}
                </div>
            {{/contextheader}}
        {{/welcomemessage}}
        {{> core/welcome }}
        <div class="header-actions-container ms-auto" data-region="header-actions-container">
            {{#headeractions}}
                <div class="header-action ms-2">{{{.}}}</div>
            {{/headeractions}}
        </div>
    </div>
