{{! 
    Template digunakan untuk menampilkan judul halaman & pesan selamat datang.
}}
<header id="page-header" class="mb-5 d-print-none">
    <div class="w-100">
        <div class="d-flex flex-wrap ms-auto">
            {{#hasnavbar}}
            <div id="page-navbar">
                {{{navbar}}}
            </div>
            {{/hasnavbar}}
            <div class="ms-auto d-flex">
                {{{pageheadingbutton}}}
            </div>
            <div id="course-header">
                {{{courseheader}}}
            </div>
        </div>
        <div class="d-flex align-items-center">
            {{^welcomemessage}}
                {{#contextheader}}
                    <div class="d-flex flex-wrap flex-row flex-fill">
                        {{{contextheader}}}
                    </div>
                {{/contextheader}}
            {{/welcomemessage}}
            {{> core/welcome }}
            <div class="header-actions-container ml-auto" data-region="header-actions-container">
                {{#headeractions}}
                    <div class="header-action ml-2">{{{.}}}</div>
                {{/headeractions}}
            </div>
        </div>
    </div>
</header>
