{{! 
  Template berisi form untuk login
}}
  <div class="d-flex flex-center flex-column flex-column-fluid">
	<form class="form w-100" novalidate="novalidate" action="{{loginurl}}" method="post" id="login">
	  <input type="hidden" name="logintoken" value="{{logintoken}}">
	  <div class="text-center mb-10">
		<h1 class="text-dark fw-bolder mb-3">Sign In</h1>
      <div class="text-gray-500 fw-semibold fs-6">{{# str }}logininfo, theme_hokage{{/ str }}</div>
	  </div>
	  <div class="fv-row mb-5">
	  {{#maintenance}}
		<div class="alert alert-danger login-maintenance">
		  {{{maintenance}}}
		</div>
	  {{/maintenance}}
	  {{#error}}
		<a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
		<div class="alert alert-danger" role="alert">{{error}}</div>
	  {{/error}}
	  </div>
	  <div class="fv-row mb-5">
	  {{^canloginbyemail}}
		  <input type="text" placeholder="{{#str}} username {{/str}}" name="username" autocomplete="off" class="form-control bg-transparent" />
		  {{/canloginbyemail}}
		  {{#canloginbyemail}}                
		  <input type="text" placeholder="{{#str}} usernameemail {{/str}}" name="email" autocomplete="off" class="form-control bg-transparent" />
		  {{/canloginbyemail}}
	  </div>
	  <div class="fv-row mb-5">
		<input type="password" placeholder="Password" name="password" autocomplete="off" class="form-control bg-transparent" />
	  </div>
	  <div class="d-grid mb-10">
		<button type="submit" id="kt_sign_in_submit" class="btn btn-primary">
		  <span class="indicator-label">{{#str}} loginbutton, theme_hokage {{/str}}</span>
		  <span class="indicator-progress">{{#str}} loginloading, theme_hokage {{/str}}
		  <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
		</button>
	  </div>
	</form>
  </div>

{{#js}}
  {{^error}}
    {{#autofocusform}}
      var userNameField = document.getElementById('username');
      if (userNameField.value.length == 0) {
        userNameField.focus();
      } else {
        document.getElementById('password').focus();
      }
    {{/autofocusform}}
  {{/error}}
  {{#error}}
    document.getElementById('loginerrormessage').focus();
  {{/error}}
  require(['core_form/submit'], function(Submit) {
    Submit.init("loginbtn");
    Submit.init("loginguestbtn");
  });
{{/js}}
