
{{^secondarynavigation}}
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" href="#link{{node.key}}" data-toggle="tab" role="tab" aria-selected="true">{{node.text}}</a>
        </li>
        {{#node.children}}
            {{#children.count}}
                {{#display}}
                    {{^is_short_branch}}
                        <li class="nav-item">
                            <a class="nav-link" href="#link{{key}}" data-toggle="tab" role="tab" aria-selected="false" tabindex="-1">{{text}}</a>
                        </li>
                    {{/is_short_branch}}
                {{/display}}
            {{/children.count}}
        {{/node.children}}
    </ul>
{{/secondarynavigation}}
<div class="card">
    <div class="card-body">
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="link{{node.key}}" {{^secondarynavigation}}role="tabpanel"{{/secondarynavigation}}>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-3">
                        </div>
                        <div class="col">
                            <ul class="list-unstyled">
                                {{#node.children}}
                                    {{^children.count}}
                                        {{#display}}
                                            <li><a href="{{{action}}}">{{text}}</a></li>
                                        {{/display}}
                                    {{/children.count}}
                                {{/node.children}}
                            </ul>
                        </div>
                    </div>

                    {{#node.children}}
                        {{#display}}
                            {{#children.count}}
                                {{#is_short_branch}}
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            {{#action}}<h4><a href="{{action}}">{{text}}</a></h4>{{/action}}
                                            {{^action}}<h4>{{text}}</h4>{{/action}}
                                        </div>
                                        <div class="col">
                                            <ul class="list-unstyled">
                                                {{#children}}
                                                    {{> core/settings_link_page_single }}
                                                {{/children}}
                                            </ul>
                                        </div>
                                    </div>
                                {{/is_short_branch}}
                            {{/children.count}}
                        {{/display}}
                    {{/node.children}}
                </div>
            </div>
            {{#node.children}}
                {{#children.count}}
                    <div class="tab-pane" id="link{{key}}" {{^secondarynavigation}}role="tabpanel"{{/secondarynavigation}}>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-3">
                                    {{#action}}<h4><a href="{{action}}">{{text}}</a></h4>{{/action}}
                                    {{^action}}<h4>{{text}}</h4>{{/action}}
                                </div>
                                <div class="col-sm-9">
                                    <ul class="list-unstyled">
                                        {{#children}}
                                            {{#display}}
                                                {{^children.count}}
                                                    <li><a href="{{{action}}}">{{text}}</a></li>
                                                {{/children.count}}
                                            {{/display}}
                                        {{/children}}
                                    </ul>
                                </div>
                            </div>
                            {{#children}}
                                {{#display}}
                                    {{#children.count}}
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                {{#action}}<h4><a href="{{action}}">{{text}}</a></h4>{{/action}}
                                                {{^action}}<h4>{{text}}</h4>{{/action}}
                                            </div>
                                            <div class="col-sm-9">
                                                <ul class="list-unstyled">
                                                    {{#children}}
                                                        {{> core/settings_link_page_single }}
                                                    {{/children}}
                                                </ul>
                                            </div>
                                        </div>
                                    {{/children.count}}
                                {{/display}}
                            {{/children}}
                        </div>
                    </div>
                {{/children.count}}
            {{/node.children}}
        </div>
    </div>
</div>
