{{#items}}
    {{#link}}
        <div class="menu-item px-3">
            <a href="{{{url}}}" class="menu-link px-5" role="menuitem" tabindex="-1">
                {{#pixicon}}
                    {{#pix}}{{pixicon}}{{/pix}}
                {{/pixicon}}
                {{^pixicon}}
                    {{#imgsrc}}<img aria-hidden="true" src="{{imgsrc}}" alt="{{title}}"/>{{/imgsrc}}
                {{/pixicon}}
                {{title}}
            </a>
        </div>
    {{/link}}
    {{#submenulink}}
        <div class="menu-sub menu-sub-dropdown w-175px py-4">
            <a href="#" class="menu-item px-3" role="menuitem" tabindex="-1" data-carousel-target-id="carousel-item-{{submenuid}}">
                {{#pixicon}}
                    {{#pix}}{{pixicon}}{{/pix}}
                {{/pixicon}}
                {{^pixicon}}
                    {{#imgsrc}}<img aria-hidden="true" src="{{imgsrc}}" alt="{{title}}"/>{{/imgsrc}}
                {{/pixicon}}
                {{title}}
            </a>
        </div>
    {{/submenulink}}
    {{#divider}}<div class="separator my-2"></div>{{/divider}}
{{/items}}
