{{!
    Template untuk menampilkan foto user (kalau ada)
}}
{{#metadata}}
    <span class="usertext d-flex mr-3">
        <span class="meta d-flex {{classes}}">
            {{{content}}}
        </span>
    </span>
{{/metadata}}
<span class="avatars">
    {{#avatardata}}
        <span class="avatar {{classes}}">
            {{{content}}}
        </span>
    {{/avatardata}}
</span>
