{{!
    Template digunakan untuk menampilkan dropdown
}}
<div
    class="dropdown {{!
        }} {{$ dropdownclasses }} {{!
            }} {{#classes}} {{classes}} {{/classes}} {{!
        }} {{/ dropdownclasses }}"
    id="{{$ dropdownid }}{{!
            }}{{#dropdownid}}{{dropdownid}}{{/dropdownid}}{{!
            }}{{^dropdownid}}dropdownDialog_{{uniqid}}{{/dropdownid}}{{!
        }}{{/ dropdownid }}"
    {{$ extras }}
        {{#extras}}
            {{attribute}}="{{value}}"
        {{/extras}}
    {{/ extras }}
>
    <button
        class="{{$ buttonclasses }} {{!
                }} {{^buttonclasses}} btn btn-light btn-outline dropdown-toggle {{/buttonclasses}} {{!
                }} {{#buttonclasses}} {{buttonclasses}} {{/buttonclasses}} {{!
            }} {{/ buttonclasses }}"
        type="button"
        id="{{#buttonid}}{{buttonid}}{{/buttonid}}{{^buttonid}}dropdownDialog{{uniqid}}{{/buttonid}}"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        data-for="dropdowndialog_button"
        {{#disabledbutton}} disabled {{/disabledbutton}}
    >
        {{$ buttoncontent }}
            {{{ buttoncontent }}}
        {{/ buttoncontent }}
    </button>
    <div
        class="dropdown-menu {{!
            }} {{#position}} {{position}} {{/position}} {{!
            }} {{$ dialogclasses }} {{!
                }} {{#dialogclasses}} {{dialogclasses}} {{/dialogclasses}} {{!
            }} {{/ dialogclasses }}"
        aria-labelledby="{{#buttonid}}{{buttonid}}{{/buttonid}}{{^buttonid}}dropdownDialog{{uniqid}}{{/buttonid}}"
        data-for="dropdowndialog_dialog"
    >
        <div class="p-2" data-for="dropdowndialog_content">
            {{$ dialogcontent }}
                {{{dialogcontent}}}
            {{/ dialogcontent }}
        </div>
    </div>
</div>
{{#js}}
    require(['core/local/dropdown/dialog'], function(Module) {
        Module.init('#' + '{{$ dropdownid }}{{!
            }}{{#dropdownid}}{{dropdownid}}{{/dropdownid}}{{!
            }}{{^dropdownid}}dropdownDialog_{{uniqid}}{{/dropdownid}}{{!
        }}{{/ dropdownid }}');
    });
{{/js}}
