{{!
    ???
}}
<div class="container-fluid tertiary-navigation mb-2 pb-2 border-bottom">
    <div class="d-flex flex-wrap flex-row">
        {{#generalnavselector}}
            <div>
                {{>core/tertiary_navigation_selector}}
            </div>
            <div class="border border-1 mx-2"></div>
        {{/generalnavselector}}
        {{#searchdropdown}}
            <div>
                {{>core/comboboxsearch}}
            </div>
            <div class="border border-1 mx-2"></div>
        {{/searchdropdown}}
        {{#groupselector}}
            <div>
                {{{.}}}
            </div>
            <div class="border border-1 mx-2"></div>
        {{/groupselector}}
        {{#initialselector}}
            <div class="d-flex flex-column align-self-center">
                {{>core/comboboxsearch}}
            </div>
            <div class="border border-1 mx-2"></div>
        {{/initialselector}}
        {{#pagereset}}
            <div class="align-self-center">
                <a href="{{{.}}}" class="btn btn-link">{{#str}}clearall, gradereport_grader{{/str}}</a>
            </div>
            <div class="border border-1 mx-2"></div>
        {{/pagereset}}
        {{#collapsedcolumns}}
            <div class="flex-column align-self-center ml-auto {{#classes}}{{.}}{{/classes}}" aria-live="polite">
                {{#content}}
                    {{>core/comboboxsearch}}
                {{/content}}
            </div>
        {{/collapsedcolumns}}
    </div>
</div>
