
{{> theme_hokage/head_custom }}

<body id="kt_body" class="header-tablet-and-mobile-fixed aside-enabled bg-gray-200">

<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>

{{> core/local/toast/wrapper }}

<div class="d-flex flex-column flex-root">
    {{^unauthenticateduser}}
        {{> theme_hokage/sidebar }}
    {{/unauthenticateduser}}

    <div id="kt-wrapper" class="wrapper d-flex flex-column flex-row-fluid {{#unauthenticateduser}} px-0 {{/unauthenticateduser}}">

        {{> theme_hokage/navbar }}

        <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="toolbar d-flex flex-stack mb-3 mb-lg-5" id="kt_toolbar">
                <div id="kt_toolbar_container" class="container-fluid">
                    <div class="card">
                        <div class="card-body">
                            {{{ output.full_header }}}
                            {{#secondarymoremenu}}
                                <div class="secondary-navigation d-print-none">
                                    {{> core/moremenu }}
                                </div>
                            {{/secondarymoremenu}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="post d-flex flex-column-fluid" id="kt_post">
                <div id="kt_content_container" class="container-xxl">
                    <div class="card">
                        <div class="card-body">
                            {{{ output.main_content }}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{> theme_hokage/footer }}
        
    </div>

    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </div>
    
    {{! output.standard_after_main_region_html }}

    <script>var hostUrl = "{{{ output.asset_path }}}/";</script>
    <script src="{{{ output.asset_path }}}/plugins/jquery/jquery-3.7.1.min.js"></script>
    <script src="{{{ output.asset_path }}}/plugins/global/plugins.bundle.js"></script>
    <script src="{{{ output.asset_path }}}/js/scripts.bundle.js"></script>
    <script src="{{{ output.asset_path }}}/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="{{{ output.asset_path }}}/plugins/custom/datatables/datatables.bundle.js"></script>
    <script src="{{{ output.asset_path }}}/js/widgets.bundle.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/widgets.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/apps/chat/chat.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/upgrade-plan.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/create-campaign.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/create-app.js"></script>
    <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/users-search.js"></script>

    {{! Custom Script is here! }}
    <script src="{{{ output.asset_path }}}/js/custom/main.js"></script>
</body>
</html>

{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
