{{!
	# Main Template Layout Biasa #
	Template ini digunakan untuk control utama tampilan dashboard dsb
    - Mengikuti theme parentnya (boost), template ini digunakan untuk berbagai macam tampilan
}}
{{> theme_hokage/head }}

<body id="kt_body" data-kt-app-page-loading-enabled="true" data-kt-app-page-loading="on" {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper }}

    {{{ output.standard_top_of_body_html }}}

    <div class="d-flex flex-column flex-root">
        {{^unauthenticateduser}}
            {{> theme_hokage/sidebar }}
        {{/unauthenticateduser}}
        {{{ output.standard_top_of_body_html }}}

        <div id="kt-wrapper" class="wrapper d-flex flex-column flex-row-fluid {{#unauthenticateduser}} px-0 {{/unauthenticateduser}}">
            {{> core/dashboard_navbar }}

            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="toolbar d-flex flex-stack" id="kt_toolbar">
                    <div id="kt_toolbar_container" class="container">
                        <div class="mb-5">
                        {{{ output.full_header }}}
                        </div>
                        {{#secondarymoremenu}}
                            <div class="secondary-navigation d-print-none">
                                {{> core/moremenu }}
                            </div>
                        {{/secondarymoremenu}}
                    </div>
                </div>
                <div class="d-flex flex-column-fluid m-0" id="page" data-region="mainpage" data-usertour="scroller">
                    <div id="kt_content_container" class="container-xxl" id="topofscroll">
                        <div id="region-main-box">
                            {{#hasregionmainsettingsmenu}}
                            <div id="region-main-settings-menu" class="d-print-none">
                                <div> {{{ regionmainsettingsmenu }}} </div>
                            </div>
                            {{/hasregionmainsettingsmenu}}
                            <section aria-label="{{#str}}content{{/str}}">

                                {{#hasregionmainsettingsmenu}}
                                    <div class="region_main_settings_menu_proxy"></div>
                                {{/hasregionmainsettingsmenu}}
                                {{{ output.course_content_header }}}
                                {{#headercontent}}
                                    {{> core/activity_header }}
                                {{/headercontent}}
                                {{#overflow}}
                                    <div class="container-fluid tertiary-navigation">
                                        <div class="navitem">
                                            {{> core/url_select}}
                                        </div>
                                    </div>
                                {{/overflow}}
                                {{{ output.main_content }}}
                                {{{ output.activity_navigation }}}
                                {{{ output.course_content_footer }}}

                            </section>
                        </div>
                    </div>
                </div>
            </div>
            
            {{> theme_hokage/footer }}
        </div>
        
        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <i class="ki-duotone ki-arrow-up">
                <span class="path1"></span>
                <span class="path2"></span>
            </i>
        </div>

        {{> theme_hokage/page-loader }}

        {{#courseindex}}
            {{< theme_boost/drawer }}
                {{$id}}theme_boost-drawers-courseindex{{/id}}
                {{$drawerheadercontent}}
                    {{> theme_boost/courseindexdrawercontrols}}
                {{/drawerheadercontent}}
                {{$drawerclasses}}drawer drawer-start {{#courseindexopen}}drawer-on{{/courseindexopen}}{{/drawerclasses}}
                {{$drawercontent}}
                    {{{courseindex}}}
                {{/drawercontent}}
                {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
                {{$drawerstate}}show-drawer-left{{/drawerstate}}
                {{$tooltipplacement}}right{{/tooltipplacement}}
                {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}}
            {{/ theme_boost/drawer}}
        {{/courseindex}}
        {{#hasblocks}}
            {{< theme_boost/drawer }}
                {{$id}}theme_boost-drawers-blocks{{/id}}
                {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
                {{$drawercontent}}
                    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                        {{{ addblockbutton }}}
                        {{{ sidepreblocks }}}
                    </section>
                {{/drawercontent}}
                {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
                {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
                {{$drawerstate}}show-drawer-right{{/drawerstate}}
                {{$tooltipplacement}}left{{/tooltipplacement}}
                {{$drawercloseonresize}}1{{/drawercloseonresize}}
                {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
            {{/ theme_boost/drawer}}
        {{/hasblocks}}

        <script>var hostUrl = "{{{ output.asset_path }}}/";</script>
        <script src="{{{ output.asset_path }}}/plugins/jquery/jquery-3.7.1.min.js"></script>
        <script src="{{{ output.asset_path }}}/plugins/global/plugins.bundle.js"></script>
        <script src="{{{ output.asset_path }}}/js/scripts.bundle.js"></script>
        <script src="{{{ output.asset_path }}}/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
        <script src="{{{ output.asset_path }}}/plugins/custom/datatables/datatables.bundle.js"></script>
        <script src="{{{ output.asset_path }}}/js/widgets.bundle.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/widgets.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/apps/chat/chat.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/upgrade-plan.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/create-campaign.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/create-app.js"></script>
        <script src="{{{ output.asset_path }}}/js/custom/utilities/modals/users-search.js"></script>
        <script src="{{{ output.asset_path }}}/js/fix.js"></script>

        {{{ output.standard_after_main_region_html }}}
        {{{ output.standard_end_of_body_html }}}
    </div>
</body>
</html>

{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
});
{{/js}}
