{{! 
    Template ini digunakan untuk menampilkan footer pada bagian bawah page
}}

<div class="container">
    <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
        <div class="d-flex align-items-center order-1 order-md-1 text-gray-600">
        <span class="text-gray-400 fw-semibold me-1">© {{ output.yearnow }} </span>
        <a href="https://keenthemes.com" target="_blank" class="text-gray-400 text-hover-primary">NPS</a>
        </div>
        {{!
        <div class="d-flex align-items-center order-2 order-md-1">
            <span class="mx-5 fs-6 fw-semibold text-gray-600 pt-1">
            Made with &hearts; by
            <a class="fs-6 fw-bold text-gray-600 pt-1 mx-auto" href="https://instagram.com/ken.cpx">
                {{! <img alt="Logo" src="assets/media/logos/landing.svg" class="h-15px h-md-20px"> 
                Schatten
            </a>
            </span>
        </div>
        }}
    </div>
</div>