{{!
	# Main Template Layout Login #
	Template ini digunakan untuk control utama tampilan page Login
}}
{{> theme_hokage/head_custom }}

<body id="kt_body" class="auth-bg bgi-size-cover bgi-attachment-fixed bgi-position-center bgi-no-repeat">

<div class="d-flex flex-column flex-root">
	<style>body { background-image: url('{{{ output.asset_path }}}/media/auth/bg7.jpg'); } </style>
	<div class="d-flex flex-column flex-column-fluid flex-lg-row">
		<div class="d-flex flex-center w-lg-50 pt-15 pt-lg-0 px-10">
			<div class="d-flex flex-center flex-lg-start flex-column">
				<a href="/">
					<img alt="Logo" src="{{{ output.asset_path }}}/media/logos/ss-logo.png" class="mw-400px"/>
				</a>
			</div>
		</div>
		<div class="d-flex h-100">
		  <div class="my-auto d-flex flex-column-fluid flex-lg-row-auto justify-content-center justify-content-lg-end p-12 p-lg-20">
			<div class="bg-body d-flex flex-column align-items-stretch flex-center rounded-4 w-md-600px p-20">
				{{{ output.main_content }}}	
			</div>
		  </div>
		</div>
	</div>
	<script>var hostUrl = "{{{ output.asset_path }}}/";</script>
    <script src="{{{ output.asset_path }}}/plugins/jquery/jquery-3.7.1.min.js"></script>
	<script src="{{{ output.asset_path }}}/plugins/global/plugins.bundle.js"></script>
	<script src="{{{ output.asset_path }}}/js/scripts.bundle.js"></script>
	</body>
</html>

{{#js}}
M.util.js_pending('theme_boost/loader');
require(['theme_boost/loader'], function() {
  M.util.js_complete('theme_boost/loader');
});
{{/js}}
