{{!
	Template digunakan untuk menampilkan sidebar di sebelah kiri page.
}}
{{#primarymoremenu}}
<div id="kt_aside" class="aside bg-white py-9" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle">
	<div class="aside-menu flex-column-fluid ps-5 pe-3 mb-7" id="kt_aside_menu">
			{{> core/sidebar_menu }}
	</div>
</div>
{{/primarymoremenu}}
