{{!
    Template yang mengatur header dari card-course.
}}
{{#sectionbulk}}
{{$ core_courseformat/local/content/section/bulkselect }}
    {{> core_courseformat/local/content/section/bulkselect }}
{{/ core_courseformat/local/content/section/bulkselect }}
{{/sectionbulk}}
{{#headerdisplaymultipage}}
    {{^displayonesection}}
        <h3 id="sectionid-{{id}}-title" class="sectionname">
            {{{title}}}
        </h3>
    {{/displayonesection}}
{{/headerdisplaymultipage}}
{{^headerdisplaymultipage}}
    {{#sitehome}}
        <h2 id="sectionid-{{id}}-title" class="sectionname">
            {{{title}}}
        </h2>
    {{/sitehome}}
    {{^sitehome}}
        {{^displayonesection}}
            <div class="d-flex align-items-start position-relative">
                <a role="button"
                    data-toggle="collapse"
                    data-for="sectiontoggler"
                    href="#coursecontentcollapse{{num}}"
                    id="collapssesection{{num}}"
                    aria-expanded="{{^contentcollapsed}}true{{/contentcollapsed}}{{#contentcollapsed}}false{{/contentcollapsed}}"
                    aria-controls="coursecontentcollapse{{num}}"
                    class="btn btn-icon btn-sm me-1 p-0 bg-opacity-0 icons-collapse-expand justify-content-center{{#contentcollapsed}} collapsed {{/contentcollapsed}}"
                    aria-label="{{name}}">
                <span class="expanded-icon icon-no-margin p-2" title="{{#str}} collapse, core {{/str}}">
                    {{#pix}} t/expandedchevron, core {{/pix}}
                </span>
                <span class="collapsed-icon icon-no-margin p-2" title="{{#str}} expand, core {{/str}}">
                    <span class="dir-rtl-hide">{{#pix}} t/collapsedchevron, core {{/pix}}</span>
                    <span class="dir-ltr-hide">{{#pix}} t/collapsedchevron_rtl, core {{/pix}}</span>
                </span>
                </a>
                <h3 class="sectionname course-content-item d-flex align-self-stretch align-items-center mb-0"
                    id="sectionid-{{id}}-title" data-for="section_title" data-id="{{id}}" data-number="{{num}}">
                    {{{title}}}
                </h3>
            </div>
        {{/displayonesection}}
    {{/sitehome}}
{{/headerdisplaymultipage}}
