{{!
    ???
}}
{{< core_form/element-template }}
    {{$ element }}
        <div data-passwordunmaskid="{{ element.id }}">
            <div class="d-flex align-items-center">
                <span data-passwordunmask="editor">
                    <input  type="password"
                            {{# element.frozen }}readonly{{/ element.frozen }}
                            {{^ element.hardfrozen}} name="{{ element.name }}"{{/ element.hardfrozen }}
                            id="{{ element.id }}"
                            value="{{ element.value }}"
                            class="form-control {{# error }}is-invalid{{/ error }}"
                            data-size="{{ element.size }}"
                            {{# error }}
                                autofocus aria-describedby="{{ element.iderror }}"
                            {{/ error }}
                            {{#required}}
                                aria-required="true"
                            {{/required}}
                            {{{ element.attributes }}}
                            >
                </span>
            </div>
            <span data-passwordunmask="instructions" class="form-text text-muted" style="display: none;">
                {{^ element.frozen }}
                {{# str }} passwordunmaskinstructions, form {{/ str }}
                {{/ element.frozen }}
            </span>
        </div>
    {{/ element }}
{{/ core_form/element-template }}
{{#js}}
require(['core_form/passwordunmask'], function(PasswordUnmask) {
    new PasswordUnmask("{{ element.id }}");
});
{{/ js }}
